ConnectionStrings__DefaultConnection=Server=PC-CELESTE\SQLEXPRESS;Database=Ingenieria_Purrujas_BD;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;
Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__Username=tu.correo@gmail.com
Smtp__Password=tu-app-password-de-gmail
Smtp__FromName=Hotel Las Purrujas
Smtp__FromAddress=tu.correo@gmail.com
